.container {
}

.board {
  width: 490px;
  height: 490px;
  background-color:black;
}

.title {
}

.row {}

.x {
  background-image:url('images/x.jpeg');
}

.o {
  background-image:url('images/o.jpeg');
}

.square {
  display: inline-block;
  margin: 5px;
  background-color: white;
  height: 150px;
  width: 150px;
  clear: none;
}

.notifier {}