.container {
  display:block;
  width: 100%;
}

.tower {
  height: 170px;
  width: 110px;
  background-color: sienna;
  float: left;
  margin-left: 20px;
  text-align: center;
  position: relative;
}

.disc-container {
  position: absolute;
  bottom: 0;
  left:50%;
  margin-left:-35px;
  width: 70px;
}

.clear {
  clear: both;
}

.selected {
  opacity: 0.5;
}

.notifier {
  text-align: center;
  display:block;
}

.illegal {
  background-color: red;
}

.disc {
  height: 30px;
  background-color: black;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
}

#disc1 {
  width: 30px;
}

#disc2 {
  width: 50px;
}

#disc3 {
  width: 70px;
}